localhost:80 {
	root * /usr/share/caddy
	try_files {path} /index.html
	file_server
	#header @static Cache-Control "public, max-age=259200"
	#encode zstd gzip
	#@skip path_regexp \.(wasm|js|css|png|jpe?g|gif|ico|woff2?|otf|ttf|eot|svg|txt|pdf|docx?|xlsx?)$
	#@static {
	#	file
	#	path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2
	#}
}
